.container {
    width: 100%;
    max-width: calc(var(--container-width) - var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visualy-hidden {
    @include visually-hidden;
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: block !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.hidden-mobile {
    @include mobile {
        display: block !important;
    }
}